.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
}

.title{
    font-size: 85px;
    color: #FFF;
    animation: titleAnimation 2s;
}

@keyframes titleAnimation {
    from{
        transform: rotateX(90deg);
    }

    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.425);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    outline: none;
    color: #FFF;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 300ms;
}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f179;
    width: 500px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0;
    font-size: 39px;
}

.main span{
    font-weight: bold;
    margin-bottom: 19px;
}

@media (max-width: 620px){
    .title{
        font-size: 60px;
    }

    .main h2{
        font-size: 28px;
    }

    .main{
        width: 80%;
        min-height: 250px;
    }
}